<!DOCTYPE html>
<html>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/footer.css">
        
<footer>

    <div class="footer__1">
        <p>Footer</p>
      </div>


</footer>
</html>