<nav>
    <div class="navBar__menu">
        <ul>
            <div class="navBar__listContainer">
                <li class="navBar__list">
                   
                    <a class="navBar__link" href=" /home "> Home </a>
                </li>
            </div>
            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    
                    <a class=" navBar__link" href="/games"> Games </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class="navBar__list ">
                    <a class="navBar__link" href="/merchandise "> Merchandise </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    <a class=" navBar__link" href=" /newsfeed "> NewsFeed </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    <a class=" navBar__link" href=" /about "> About </a>
                </li>
            </div>

            <div class=" navBar__listContainer profile ">
                <li class="navBar__list profile ">
                    <a class="navBar__link" href=" /profile "> Profile </a>

                    <div class=" navBar__dropdownContent ">
                        <div class="navBar__dropdownContentGroup">
                            <a class=" navBar__link profile " href=" /login "> Login </a>
                        </div>

                        <div class="navBar__dropdownContentGroup">
                            <a class=" navBar__link profile " href=" /account-creation "> Create Account </a>
                        </div>

                        <div class="navBar__dropdownContentGroup">
                            <a class=" navBar__link profile " href=" /logout "> Logout</a>
                            
                        </div>

                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>