<nav>
    <div class="logoContainer">
        <a href="/home" style="text-decoration: none"><h1 class="logo">Station</h1></a>
        <a href="/home" style="text-decoration: none"><h1 id="X" class="logo">X</h1></a>
    </div>

    <div class="navBar__menu">
        <ul>
            <div class="navBar__listContainer">
                <li class="navBar__list">
                   
                    <a class="navBar__link" href=" /home "> Home </a>
                </li>
            </div>
            
            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    
                    <a class=" navBar__link" href="/games"> Games </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class="navBar__list ">
                    <a class="navBar__link" href="/merchandise "> Merchandise </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    <a class=" navBar__link" href=" /newsfeed "> NewsFeed </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    <a class=" navBar__link" href=" /about "> About </a>
                </li>
            </div>

            <div class=" navBar__listContainer ">
                <li class=" navBar__list ">
                    <a class=" navBar__link" href=" /login "> LogIn </a>
                </li>
            </div>
        </ul>
    </div>
</nav>