<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/about.css">
    <title>About</title>
</head>


<html>
    <body>
            <h1 class="about__header"> About StationX</h1>

            <div class="about__container">
                <label class="about__label">Who Are We?</label> <br>
                <p class="about__text1">StationX is a game distribution company located in Pensacola, Florida. </p> <br>
                <p class="about__text1">Our website is desgined to provide you the best experience.</p> <br>
                <p class="about__text1">On our website, you are able to purchase products and view gaming news.</p>
            </div>
    </body>
</html>