<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/accGuide.css">
</head>


<html>
    <title>StationX Account Guide</title>

    <body>
        <h1 class="guide__header">StationX Account</h1>

        <div class="accountGuide">

            <p class="guide__text_1">Login to your StationX Account</p>
            <p class="guide__text_1">or</p>
            <p class="guide__text_2">Create a New Account </p>


            <div class="account__button__container">
                <a href="/login" style="text-decoration: none"> <button class="login__button" type="submit">LogIn</button> </a>
                &nbsp;
                <a href="/create-account" style="text-decoration: none"> <button class="create__button" type="submit">Create a New Account</button> </a>
            </div>

        </div>
    </body>
</html>