<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="css/acntSettings.css">

    <title>Account Settings</title>

</head>

<html>
    <body>

        <div class=" settings__listContainer ">
            <li class=" settings__list ">
                <i class=" material-icons settings__icon header">settings</i>
                <h1 class="settings__header"> Account Settings</h1>
            </li>
        </div>
        

        <div class="settings__container">

            <div class=" settings__listContainer ">
                <li class=" settings__list ">
                    <i class=" material-icons settings__icon ">lock</i>
                    <a class=" settings__link" href=" /user/account-settings/change-password"> Change Password </a>
                </li>
            </div>

            <div class=" settings__listContainer ">
                <li class=" settings__list ">
                    <i class=" material-icons settings__icon info">account_box</i>
                    <a class=" settings__link info" href=" /user/update-information"> Update Information </a>
                </li>
            </div>

            <div class=" settings__listContainer ">
                <li class=" settings__list ">
                    <i class=" material-icons settings__icon delete">delete_forever</i>
                    <a class=" settings__link" href=" /user/delete-account"> Delete Account </a>
                </li>
            </div>
        </div>
        
    </body>
</html>