<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>

    <body>
        
        <div class="createAcnt">
            <h1 class="createAcnt__header">Create Account</h1>

            <form class="createAcnt__form" action="/user/create-account" method="POST">
                <label class="createAcnt__label" for="firstName">First Name:</label>
                <input class="createAcnt__input" type="text" id="firstname" name="firstname" required><br><br>

                <label class="createAcnt__label" for="lastName">Last Name:</label>
                <input class="createAcnt__input" type="text" id="lastname" name="lastname" required><br><br>

                <label class="createAcnt__label" for="email">Email:</label>
                <input class="createAcnt__input" type="text" id="email" name="email" required><br><br>

                <label class="createAcnt__label" for="username">Username:</label>
                <input class="createAcnt__input" type="text" id="username" name="username" required><br><br>

                <label class="createAcnt__label" for="password">Password:</label>
                <input class="createAcnt__input" type="text" id="password" name="password" required><br><br>

                <button class="createAcnt__button" type="submit">Sign Up</button>
            </form>
            
        </div>
    </body>
</html>