<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/changePswrd.css">
    <title>Change Password</title>
</head>


<html>

    <body>
        <div class="change__pswrd">
            <h1 class="change__pswrd__header">Change Password</h1>
    
            <form class="change__pswrd__form" action="/user/account-settings/change-password" method="POST">

                <input class="change__pswrd__input" type="password" id="current_password" name="current_password" 
                    minlength="8" maxlength="30" placeholder="Please Enter Current Password" required><br><br>

                <input class="change__pswrd__input" type="password" id="new_password" name="new_password" 
                    minlength="8" maxlength="30"placeholder="Please Enter New Password" required><br><br>

                <input class="change__pswrd__input" type="password" id="confirm_password" name="confirm_password" 
                    minlength="8" maxlength="30"placeholder="Please Re-Enter New Password" required><br><br>

                    <i id="eye__icon" onclick="toggleFunction()"class="material-icons eye__icon">visibility</i>  <br>
                    

                    <script>
                        function toggleFunction() {
                            
                          if(document.getElementById("current_password").type == "password") {
                            document.getElementById("current_password").type = "text";
                            document.getElementById("new_password").type = "text";
                            document.getElementById("confirm_password").type = "text";

                            document.getElementById("eye__icon").style.color = "black";
                            
                          } else {
                            document.getElementById("current_password").type = "password";
                            document.getElementById("new_password").type = "password";
                            document.getElementById("confirm_password").type = "password";

                            document.getElementById("eye__icon").style.color = "gray";
                          }
                        }
                        </script>


                <button class="change__pswrd__button" type="submit">Submit</button>
            </form>

        </div>
    </body>
</html>