<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
</head>


<html>
    <title>Home</title>

    <body>
        <div class="home">
            <h1 class="home__header">Featured Items</h1>

               
                <h2 class="home__header2">Contact Us!</h2>
                <p class="home__text1">StationX is a game distribution company located in Pensacola, Florida. Our website is desgined to provide you the best experience. On our website, you are able to purchase products and view gaming news.</p>

               

                

                <button class="login__button" type="submit">Login</button>
            </form>

            <a href="/help" style="text-decoration: none">Trouble Loging In?</a>
            
            <br><br><br>
            <p>Don't have an account?</p>

            <a href="/create-account" style="text-decoration: none"> 
                <button class="create__button" type="submit">Create a New Account</button> </a>

        </div>
    </body>
</html>