<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
</head>


<html>
    <title>Home</title>

    <body>
        <div class="home">
            <h1 class="home__header">Featured Items</h1>

               
                <h2 class="home__header2">Contact Us!</h2>
                <p class="home__text2">By Mail:</p>
                <br>
                <p class="home__text1">11000 University Pkwy</p>
                <p class="home__text1">Pensacola, FL 32514</p>
                <br><br>
                <p class="home__text1">Phone:</p>
                <br>
                <p class="home__text1">850-555-1234</p>
                <br><br>
                <p class="home__text1">Email:</p>
                <br>
                <p class="home__text1">customerservice@stationx.com</p>
               
            </form>
        </div>
    </body>
</html>