<!DOCTYPE html>
<html>
    <body>

        <header>
            <h1>Home</h1>
        </header>

        <p>Links to other pages</p>
        <p>Information about StationX</p>
        <p>Images of our Merchandise and Links to them.</p>
        <p>Contact Information, Locations, and Scoial Media at the Bottom.</p>
            
    </body>

</html>