<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/navMenu.css">
    <link rel="stylesheet" href="css/flashMsgs.css">
</head>

<body>

    <%- include('partials/navBar') %>
    <%- include('partials/flashMessages') %>

        <main><%- body %></main>

</body>

</html> 