<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/login.css">
    <title>StationX - LogIn</title>
</head>


<html>

    <body>
        <div class="login">
            <h1 class="login__header">StationX Account</h1>
    
            <form class="login__form" action="/user/authentication" method="POST">
                <input class="login__input" type="text" id="username" name="username" 
                    minlength="2" maxlength="12" placeholder="Username" required><br><br>

                <input class="login__input" type="password" id="password" name="password" 
                    minlength="8" maxlength="30"placeholder="Password" required><br><br>

                <button class="login__button" type="submit">Login</button>
            </form>

            <a href="/help" style="text-decoration: none">Trouble Loging In?</a>
            
            <br><br><br>
            <p>Don't have an account?</p>

            <a href="/create-account" style="text-decoration: none"> 
                <button class="create__button" type="submit">Create a New Account</button> </a>

        </div>
    </body>
</html>