<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/about.css">
</head>


<html>
    <title>Login</title>

    <body>
        <div class="about">
            <h1 class="about__header"> About StationX</h1>
    
            <form class="login__form" action="/login" method="POST">

               
                <label class="about__label" for="whoAreWe">Welcome *************</label>


            </form>



            <a href="/logout" style="text-decoration: none"> 
                <button class="logout__button" type="submit">logout</button> </a>

        </div>
    </body>
</html>