<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/about.css">
</head>


<html>
    <title>Profile</title>

    <body>
        <div class="about">
    
            <form class="login__form" action="/login" method="POST">

               
                <h1 class="about__header">Welcome <%- data.username %> </h1>


            </form>



            <a href="/logout" style="text-decoration: none"> 
                <button class="logout__button" type="submit">logout</button> </a>

        </div>
    </body>
</html>