<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>StationX Profile</title>

    <link rel="stylesheet" href="css/profile.css">
</head>

<body>

    <div class=" profile__listContainer ">
        <li class=" profile__list ">
            <i class=" material-icons profile__icon header">face</i>
            <h1 class="profile__header"> Profile</h1>
        </li>
    </div>

    <div class="profile">

    </div>

    <form class="profile__form" action="/profile" method="GET">
        <label class="profile__label" for="username">Username:</label>
        <p class="profile__data user"> <%- data.username %></p><br><br>


        <label class="profile__label" for="firstName">Name:</label>
        <p class="profile__data name"> <%- data.firstname %> <%- data.lastname %></p><br><br>
       

        <label class="profile__label" for="email">Email:</label>
        <p class="profile__data"> <%- data.email %></p><br><br>

    </form>


</body>

</html>