<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="css/updateProfile.css">

    <title>Update Profile</title>

</head>

<html>
    <body>

        <div class=" update__listContainer ">
            <li class=" update__list ">
                <i class=" material-icons update__icon header">edit</i>
                <h1 class="update__header"> Update Profile Info</h1>
            </li>
        </div>
        

        <div class="update__container">

            <div class=" update__listContainer ">
                <li class=" update__list ">
                    <i class=" material-icons update__icon mail">email</i>
                    <a class=" update__link mail" href=" /user/account-settings/update-profile/email"> Update Email </a>
                </li>
            </div>

            <div class=" update__listContainer ">
                <li class=" update__list ">
                    <i class=" material-icons update__icon person">person</i>
                    <a class=" update__link person" href=" /user/account-settings/update-profile/name"> Update First & Last Name </a>
                </li>
            </div>

            <div class=" update__listContainer ">
                <li class=" update__list ">
                    <i class=" material-icons update__icon bday">cake</i>
                    <a class=" update__link bday" href=" /user/account-settings/update-profile/birthday"> Update Birthday </a>
                </li>
            </div>
        </div>
        
    </body>
</html>