<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/updateBday.css">
    <title>Update Birthday</title>
</head>


<html>

    <body>
        <div class="update__bday">
            <h1 class="update__header">Update Birthday</h1>
    
            <form class="update__form" action="/user/account-settings/update-profile/birthday" method="POST">

                    <input class="update__input" type="date" id="birthday" name="birthday"required style="font-size: 16px"><br><br>

                <button class="update__button" type="submit">Submit</button>
            </form>

        </div>
    </body>
</html>