.home__container {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 1000px;
    height: 430px;
    border-radius: 5px;
    padding: 16px;
    background: linear-gradient(to left, rgb(100, 192, 204), #4569aa);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.home__label {
    font-family: '', monospace;
    font-size: 40px;
    color: rgb(247, 242, 242);
    font-weight: bold;
    justify-content: center;
    margin-bottom: 1rem;
}

.home__text1 {
    font-family: '', monospace;
    font-size: 20px;
    color: rgb(248, 246, 246);
    margin-top: 1rem;
    font-weight: normal;
    padding: 1px;
}