* {
    margin: 0;
}

.logo {
    font-size: 36px;
    font-family: '', monospace;
    color: white;
    margin-top: 0.5rem;
}

#X {
    font-size: 44px;
    margin-top: 0.3rem;

}

.logoContainer {
    position: relative;
    display: flex;
    justify-content: left;
    
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 5rem;
    min-width: 500px;
}

nav {
    width: 100%;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    background-color: black;
}

nav .navBar__link {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: white;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

.navBar__list {
    list-style: none;
    margin: 0 3px;
    font-size: 3vh;
    cursor: pointer;
}

.navBar__listContainer:hover {
    background-color: rgb(137, 195, 230);
}