.update__header {
    color: white;
    font-family: '', monospace;
    font-size: 55px;
    margin-bottom: 1.5rem;
    text-align: center;
    display: inline-block;
    padding-left: 15px;
}

.update__container {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 900px;
    height: 380px;
    border-radius: 5px;
    padding: 16px;
    background: linear-gradient(to left, rgb(148, 213, 243), #445ba5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

 .update__link {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: rgb(253, 247, 247);
    padding: 16px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 30px;
}


.update__link.person {
    margin-left: 4rem;
}

.update__link.bday {
    margin-right: 6rem;
}

.update__link.mail {
    margin-right: 9.5rem;
}

.update__icon {  
    position: relative;
    top: 3px;
    left: 8px;
    color: white;
    font-size: 28px;
}

.update__icon.person {  
    left: 73px;
}

.update__icon.header {  
    top: 1.5px;
    left: 5px;
    font-size: 40px;
}

.update__list {
    list-style: none;
    margin: 0 3px;
    font-size: 3vh;
    cursor: pointer;
}

a:visited {
    color: white;
}